*{
  font-family: Arial,Helvetica,sans-serif;
}

:root{
  --maincl :#00997b;
  --sec-cl :#064236;
  --white:#ffffff;
  --black:#000000;
}

.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  padding: 10px;
  background: var(--white);
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 1px 1px 10px var(--black);
}
.btn:hover{
  background: #7cff70;
}